/* Some constants copied from Bootstrap's */

@bsInfoColor: @state-info-text;
@bsSuccessColor: @state-success-text;
@bsDangerColor: @state-danger-text;
@bsBorderColor: @nav-tabs-border-color;
@bsHoverColor: #eee;

@bsNavbarActiveColor: #e7e7e7;
@bsNavbarTextColor: #777;
