@import (reference) url('bs-constants.import.less');

#selectableResults tr.result {
  cursor: pointer;
}

#selectableResults tr.result:hover {
  background-color: @bsHoverColor;
}

#selectableResults tr.result.selectedResult {
  background-color: @bsInfoColor;
}
