.event .btn span:before {
  content: "\e159"; /* glyphicon-collapse-down */
}

.event .btn.collapsed span::before {
  content: "\e158"; /* glyphicon-expand */
}

.roundList{	
	width:100%;
}

.event .btn.collapsed + .roundList {
  display: none;
}
