#calendar {
  margin: 0 auto;
}

#sorted-rounds {
  .draggable {
    cursor: move;
  }
  .undraggable {
    background-color: #aaa;
    border: 1px solid #888;
  }
  .draggable, .undraggable {
    margin-bottom: 3px;
    padding-left: 3px;
  }

  #new-calender-entry {
    background-color: #A00;
    border-color: #800;
    margin-bottom: 10px;
  }
}

.fc-time-grid-event.fc-short .fc-time {
  span {
    display: inline-block;
    margin-right: 3px;
  }

  &:before, &:after {
    content: none;
  }
}
