#calendar {
  margin: 0 auto;
}

#addCalendarEvent {
  position: absolute;
}

.fc-event {
  cursor: move;
}

#new-calender-entry {
  background-color: #A00;
  border-color: #800;
  margin-bottom: 10px;
}