.competition.listed {
  color: black;
}

.competition.unlisted {
  opacity: 0.5;
}

/*
 TODO - this doesn't work when the navbar collapses, we should create our own
        login ui that works with bootstrap
 Position login box so it won't fall of the right side of the screen */
#login-dropdown-list {
  right: 0px;
  left: initial;
}

/*
 * bootstrap-3 declares labels to be white, but mizzao:autocomplete tries to
 * place .label on top of a white background.
 */
.-autocomplete-item .label {
  color: black;
}

/*
 * Disable collapse animation.
 * See http://stackoverflow.com/a/22428493/1739415
 */
.collapsing {
  -webkit-transition: none;
  transition: none;
}

/*
 * Give anchor tags with rel="external" an icon to indicate that they'll take
 * you outside of this website. See http://stackoverflow.com/a/12709367 for a
 * solution we use to not underline the icon in the :after part
 */
a[rel="external"] {
  padding-right: 18px;
}

a[rel="external"]:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  content: "\e164"; /* glyphicon-new-window */
  padding-left: 2px;
}

a[rel="external"]:hover:after {
  text-decoration: none;
}
