.competition.listed {
  color: black;
}

.competition.unlisted {
  opacity: 0.5;
}

/*
 TODO - this doesn't work when the navbar collapses, we should create our own
        login ui that works with bootstrap
 Position login box so it won't fall of the right side of the screen */
#login-dropdown-list {
  right: 0px;
  left: initial;
}

/*
 * bootstrap-3 declares labels to be white, but mizzao:autocomplete tries to
 * place .label on top of a white background.
 */
.-autocomplete-item .label {
  color: black;
}

/*
 * Disable collapse animation.
 * See http://stackoverflow.com/a/22428493/1739415
 */
.collapsing {
  -webkit-transition: none;
  transition: none;
}

/*
 * Solution thanks to
 * https://github.com/twbs/bootstrap/issues/14854#issuecomment-60221141
 */
a[rel="external"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\e164";   /* glyphicon-new-window */
  display: inline-block; /* prevent underlining */
  margin-left: 0.3em;
}

/*
 * http://stackoverflow.com/a/18164555
 */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*
 * http://stackoverflow.com/a/20692495
 */
.input-xs, select.input-xs {
  height: 20px;
  line-height: 20px;
  padding: 0px;
}

/*
 * http://stackoverflow.com/a/15317094 (with changes)
 */
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/*
 * Workaround for https://github.com/twitter/typeahead.js/issues/1017
 */
.input-group span.twitter-typeahead .typeahead-inverted ~ .tt-dropdown-menu {
  top: auto !important;
  bottom: 0px;
}
