/*
 * https://github.com/Multiply/iron-router-progress#customization
 */
#iron-router-progress {
  background-color: #337ab7; /* color copied from bootstrap */

  /* Speed up progress bar transition */
  &.loading {
    transition: 0.5s width, 0.1s opacity;
    transition-delay: 0s, 0.5s;
  }
}
