@import (reference) url('bs-constants.import.less');

.navbar a.brand > img {
  height: 18px;
}

.navbar-plain-rectangle {
  border: initial;
  border-radius: initial;
}

@subNavbarColor: @bsNavbarActiveColor;
@subNavbarActiveColor: darken(@bsNavbarActiveColor, 10%);
@subSubNavbarColor: @subNavbarActiveColor;
@subSubNavbarActiveColor: darken(@subNavbarActiveColor, 10%);

.navbar > .container-fluid .navbar-brand {
  /* Make space between the .nvarbar-brand's so we can color their backgrounds */
  margin-left: initial;
}

.navbar-default .navbar-brand.active {
  background-color: @bsNavbarActiveColor;
}
.navbar-default .navbar-brand.active:hover,
.navbar-default .navbar-brand.active:focus {
  background-color: @bsNavbarActiveColor;
}
.navbar-default .navbar-brand.active.leaf {
  background-color: #FFF;
}
.navbar-default .navbar-brand.active.leaf:hover,
.navbar-default .navbar-brand.active.leaf:focus {
  background-color: #FFF;
}

/* navbar colors */
.navbar-default .navbar-nav > .active.leaf > a,
.navbar-default .navbar-nav > .active.leaf > a:hover,
.navbar-default .navbar-nav > .active.leaf > a:focus {
  background-color: #FFF;
}

/* match jumbotron */
.navbar-default .navbar-nav > .active.leaf.match-jumbotron > a,
.navbar-default .navbar-nav > .active.leaf.match-jumbotron > a:hover,
.navbar-default .navbar-nav > .active.leaf.match-jumbotron > a:focus {
  background-color: #EEE !important;
}

/* sub navbar colors */
.navbar + .navbar {
  background-color: @subNavbarColor;
}
.navbar + .navbar-default .navbar-nav > .active > a,
.navbar + .navbar-default .navbar-nav > .active > a:hover,
.navbar + .navbar-default .navbar-nav > .active > a:focus {
  background-color: @subNavbarActiveColor;
}
.navbar + .navbar-default .navbar-nav > .active.leaf > a,
.navbar + .navbar-default .navbar-nav > .active.leaf > a:hover,
.navbar + .navbar-default .navbar-nav > .active.leaf > a:focus {
  background-color: #FFF;
}

/* sub sub navbar colors */
.navbar + .navbar + .navbar {
  background-color: @subSubNavbarColor;
}
.navbar + .navbar + .navbar-default .navbar-nav > .active > a,
.navbar + .navbar + .navbar-default .navbar-nav > .active > a:hover,
.navbar + .navbar + .navbar-default .navbar-nav > .active > a:focus {
  background-color: @subSubNavbarActiveColor;
}
.navbar + .navbar + .navbar-default .navbar-nav > .active.leaf > a,
.navbar + .navbar + .navbar-default .navbar-nav > .active.leaf > a:hover,
.navbar + .navbar + .navbar-default .navbar-nav > .active.leaf > a:focus {
  background-color: #FFF;
}


/* Get rid of the whitespace between the navbars */
.navbar + .navbar {
  margin-top: -20px;
}

/* Get rid of the whitespace between the navbar and the jumbotron */
.navbar ~ .jumbotron {
  margin-top: -20px;
}

/*
 * Move navbar down when the connection status is visible.
 */
#connection-lost-banner + .navbar {
  top: 42px;
  margin-bottom: 62px;
}
#connection-try-reconnect + .navbar {
  top: 42px;
  margin-bottom: 62px;
}

/*
 * https://github.com/Multiply/iron-router-progress#customization
 */
#iron-router-progress {
  background-color: #337ab7; /* color copied from bootstrap */
}

/* Speed up progress bar transition */
#iron-router-progress.loading {
  transition: 0.5s width, 0.1s opacity;
  transition-delay: 0s, 0.5s;
}

/* Prevent navbar collapse entirely */
@media (max-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* hacking to remove extra pixels that we don't want when tiny */
  .navbar-collapse {
    border: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
  }
}
