.navbar a.brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar a.brand > img {
  height: 30px;
}

/* Get rid of the whitespace between the navbar and the jumbotron */
.navbar + .jumbotron {
  margin-top: -20px;
}

/* Move navbar down when the connection status is visible */
#connection-lost-banner + .navbar,
#connection-try-reconnect + .navbar {
  top: 41px;
}
