#checkinTable {
  margin-bottom: @extraCheckInButtonsSize;
  
  thead th {
    min-width: @eventColumnWidth;
    max-width: @eventColumnWidth;
  }

  tbody {
    td.wcaId {
      font-family: monospace;
    }

    // Shrink the table columns as much as possible, and give all
    // available space to the last column.
    td:not(:last-child) {
      white-space: nowrap;
    }
    td:last-child {
      width: 100%;
    }
  }

  button {
    margin-right: 3px;
  }
}

span.extraCheckInButtons {
  position: fixed;
  bottom: 10px + @footer-height;
  right: 0px;

  .extraCheckInButton {
    display: inline-block;
    height: @extraCheckInButtonsSize;
    width: @extraCheckInButtonsSize;
    line-height: @extraCheckInButtonsSize;
    margin-right: 10px;

    border-radius: 50%;

    color: white;
    text-align: center;
    font-size: 2em;

    background-color: #4679BD;
    box-shadow: 0px 1px 5px 2px #999;

    cursor: pointer;

    font-family: 'Glyphicons Halflings';
    &.importRegistrations {
      .glyphicon-import();
    }
    &.addParticipant {
      .glyphicon-plus();
    }

    &:hover {
      transform: rotate(360deg);
      transition: all 0.3s ease-in-out 0s;
    }
  }
}

textarea[name="registrationJson"] {
  font-family: monospace;
}
