tr.competitor-advanced td:first-child {
  font-weight: bold;
  background-color: yellow; /* idea shamelessly stolen from cubecomps */
}

tr.last-competitor-to-advance {
  border-bottom: 2px solid yellow;
}

.results-best {
  border-right: 1px solid #ddd; /* color copied from Bootstrap */
}

.results-primary-sort-field {
  font-weight: bold;
}

.results-sidebar {
  width: 250px;
}

.results-sidebar.affix {
  top: 20px;
}

@media(max-width: 768px) {
  .results-sidebar.affix {
    top: 0px;
    background-color: white;
    z-index: 1;
    width: 90%;
  }
}
