@import (reference) url('bs-constants.import.less');

tr.competitor-advanced td:first-child {
  font-weight: bold;
  background-color: @bsSuccessColor;
}

tr.last-competitor-to-advance {
  border-bottom: 10px solid @bsSuccessColor;
}

.results-best {
  border-right: 1px solid @bsBorderColor;
}

.results-primary-sort-field {
  font-weight: bold;
}

.results-solve-dropped::before {
  content: "(";
}
.results-solve-dropped::after {
  content: ")";
}

table.table-results thead {
  background-color: white;
}
