.btn-Worldcubeassociation {
  background-image: url(/img/WCAlogo_notext.svg);
  background-position: center;

  /*
    White text on black shadow as a quick and dirty hack to get some text visibility,
    hopefully someone with an eye for design can make this look better.
   */
  color: white;
  text-shadow: 1px 1px 1px #000;
}
