<template name="compTemplate">
  {{#unless this}}
    {{> notFound item="competition"}}
  {{else}}
    <h1>{{competitionName}}</h1>
    {{#each events}}
      <li>
        {{eventCode}}
        <ul>
          {{#each rounds}}
          <li>
            <a href="{{pathFor 'roundTemplate' wcaCompetitionId=../../wcaCompetitionId eventCode=eventCode roundCode=roundCode}}">
              {{roundName roundCode}}
            </a>
          </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  {{/unless}}
</template>
