<template name="competition">
  <div class="jumbotron">
    <div class="container">
      <h1>{{competition 'competitionName'}}</h1>
      <p>
        {{#unless competitionStartDateMoment}}
          Unscheduled
        {{else}}
          {{formatMomentRange competitionStartDateMoment competitionEndDateMoment}}
        {{/unless}}
      </p>
      <p>
        <a href="{{pathFor 'competitionRegistration' competitionUrlId=competitionUrlId}}">
          {{#if registeredForCompetition}}
            Edit registration
          {{else}}
            Register here
          {{/if}}
        </a>
      </p>
    </div>
  </div>
</template>
