<template name="competitionRegistration">
  <div class="container">
    {{> flashMessages}}

    {{#unless currentUser}}
      {{! TODO - link to sign up, don't make them hunt for it}}
      Log in to register for {{competitionAttr 'competitionName'}}.
    {{else}}

      {{#each cannotRegisterReasons}}
        <div class="alert alert-danger">
          {{{this}}}
        </div>
      {{else}}

        <div class='alert alert-info'>
          {{#if registrationCloseMoment}}
            Please note that registration closes
            <strong>{{registrationCloseMoment.fromNow}}</strong> on
            {{formatMomentDateTime registrationCloseMoment}}.
          {{else}}
            Registration is currently open.
          {{/if}}
        </div>

        {{#autoForm id="registrationForm" type=registrationFormType doc=defaultRegistrationData collection="Registrations"}}

          {{> afFieldInput name="userId" }}
          {{> afFieldInput name="wcaId" type="hidden" }}
          {{> afFieldInput name="countryId" type="hidden" }}
          {{> afFieldInput name="gender" type="hidden" }}
          {{> afFieldInput name="dob" type="hidden" }}
          {{> afFieldInput name="competitionId" }}
          {{#if needsUniqueName}}
            Well!  It looks like someone else at this competition has your name.
            Please provide an alternate (or full) name we can use to determine who
            you are at the competition.
            {{> afQuickField name="uniqueName" }}
          {{else}}
            {{#if hasUniqueName}}
              {{> afQuickField name="uniqueName" readonly="true" }}
            {{else}}
              {{> afFieldInput name="uniqueName" type="hidden" }}
            {{/if}}
          {{/if}}
          {{> afQuickField name="registeredEvents" options=eventOptions }}
          {{#if registrationAskAboutGuests}}
            {{> afQuickField name="guestCount" }}
          {{/if}}
          {{> afQuickField name="comments" }}

          {{#if userIsRegistered}}
            <button type="submit" class="btn btn-default" disabled id="changeRegistrationButton">
              <span class="glyphicon glyphicon-floppy-save"></span>
              Change Registration
            </button>
            <button type="reset" class="btn btn-default" disabled id="revertFormButton">Reset Form</button>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDeregistration">
              <span class="glyphicon glyphicon-floppy-remove"></span> Unregister
            </button>
          {{else}}
            <button type="submit" class="btn btn-primary" id="registerButton">
              <span class="glyphicon glyphicon-floppy-save"></span>
              Register
            </button>
          {{/if}}

        {{/autoForm}}
      {{/each}}

    {{/unless}}
  </div>

  {{#ccmModal id="modalConfirmDeregistration"}}
    {{#cmHeader}} Are you sure you want to unregister from this competiton? {{/cmHeader}}
    <div class="modal-body">
      <p>You can still register later, but you will have to choose your events again.</p>
    </div>
    <div class="modal-footer">
      {{> cmCancelButton}}
      <button type="button" class="btn btn-danger" id="unregisterButton">
        <span class="glyphicon glyphicon-floppy-remove"></span> Unregister
      </button>
    </div>
  {{/ccmModal}}
</template>
