<template name="competitions">
  <h1>Look at all the people who love our software</h1>
  <ul class="competitions">
    {{#each allComps}}
      <li class="competition {{listedClass}}">
        {{#if wcaCompetitionId}}
          <a href="{{pathFor 'competition' competitionUrlId=wcaCompetitionId}}">name: {{competitionName}} wcaCompetitionId: {{wcaCompetitionId}}</a>
        {{else}}
          <a href="{{pathFor 'competition' competitionUrlId=_id}}">name: {{competitionName}} _id: {{_id}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</template>
