<template name="participantResults">
  <div class="container">
    <h1>{{competitorName}}</h1>
    {{#if wcaId}}<h3><a href="https://www.worldcubeassociation.org/results/p.php?i={{wcaId}}">WCA Profile</a></h3>{{/if}}
    {{#each results}}
    <h3>{{event}}</h3>
    <table class="table table-striped table-bordered">
      <thead>
	<tr>
	  
	  <th class="text-center">Round</th>
	  <th class="text-center">Average</th>
	  <th class="text-center">Best</th>
	  <th class="text-center" colspan="{{numSolves}}">Solves</th>
	</tr>
      </thead>
      <tbody>
	{{#each sorted_times}}
	<tr>
	  <td class="text-center">{{roundNumber}}</td>
	  <td class="text-center">{{clockFormat average}}</td>
	  <td class="text-center">{{clockFormat best}}</td>
	  {{#each solves}}
	  <td class="text-center">
	    {{clockFormat this}}
	  </td>
	  {{/each}}
	</tr>
	{{/each}}
      </tbody>
    </table>
    {{/each}}
  </div>
</template>
