<template name="participantResults">
  <div class="container">
    <h1>{{competitorName}}</h1>
    <h3><a href={{wcaProfileUrl}}>WCA Profile</a></h3>
    <table class="table table-striped table-bordered table-hover">
      <thead>
	<tr>
	  <th class="text-center">Round</th>
	  <th class="text-center">Average</th>
	  <th class="text-center">Best</th>
	  <th class="text-center" colspan="{{numSolves}}">Solves</th>
	</tr>
      </thead>
      <tbody>
	{{#each results}}
        <tr>
	  <td class="text-center">{{roundName}}</td>
	  <td class="text-center">{{clockFormat average}}</td>
	  <td class="text-center">{{clockFormat best}}</td>
	  {{#each solves}}
	    <td class="text-center">
	      {{clockFormat this}}
	  </td>
	  {{/each}}
	</tr>
	{{/each}}
      </tbody>
    </table>

  </div>
</template>
