<template name="competitionResults">
  <div class="container">
    {{#each competitionEvents}}
      <li>
        {{eventCode}}
        <ul>
          {{#each rounds}}
            <li>
              <a href="{{pathFor 'roundResults' competitionUrlId=../../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
                blaze {{roundName roundCode}}
              </a>
              <a href="{{pathFor 'roundResultsReactjs' competitionUrlId=../../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
                react {{roundName roundCode}}
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </div>
</template>
