<template name="dataEntry">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
      {{#each openRounds}}
        <li role="presentation" class="{{#if isSelectedRound}}active{{/if}}">
          <a href="{{pathFor 'dataEntry' competitionUrlId=../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
            <img class="img-thumbnail icon" src="{{eventIcon eventCode}}" alt="{{eventCode}}">
            {{eventName eventCode}}: {{roundName roundCode}}
          </a>
        </li>
      {{/each}}
      <li role="presentation" class="dropdown {{#if isSelectedRoundClosed}}active{{/if}}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          {{#if isSelectedRoundClosed}}
            <img class="img-thumbnail icon" src="{{eventIcon roundEventCode}}" alt="{{roundEventCode}}">
            {{eventName roundEventCode}}: {{roundName roundRoundCode}}
          {{else}}
            Closed rounds
          {{/if}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {{#each closedRounds}}
            <li class="{{#if isSelectedRound}}active{{/if}}">
              <a href="{{pathFor 'dataEntry' competitionUrlId=../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
                <img class="img-thumbnail icon" src="{{eventIcon eventCode}}" alt="{{eventCode}}">
                {{eventName eventCode}}: {{roundName roundCode}}
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>

    {{#if roundId}}
      {{#if isSelectedRoundClosed}}
        <div class="alert alert-warning" role="alert">
          <strong>Warning!</strong> You're entering times for a closed round.
          This could create inconsistencies in the set of people who
          advanced to the next round.
        </div>
      {{/if}}
      {{> roundDataEntry roundId=roundId}}
    {{/if}}

  </div>
</template>

<template name="roundDataEntry">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="results-sidebar">
        <div class="focusguard" id="focusguard-1" tabindex="0"></div>
        <input name="name" id="inputCompetitorName" class="typeahead form-control" type="text" placeholder="Enter name">

        {{#if selectedResultId}}
          <ol class="list-unstyled">
            {{#each selectedSolves}}
              <li>
                {{> mjChester solveTime=solveTime index=index name="inputSolve" editableSolveTimeFields=editableSolveTimeFields}}
              </li>
            {{/each}}
          </ol>
          <div class="focusguard" id="focusguard-2" tabindex="0"></div>
        {{/if}}
      </div>
    </div>

    <div id="selectableResults" class="col-xs-12 col-sm-7">
      {{> roundResultsList roundId=roundId selectCompetitor=true selectCompetitorListener=selectCompetitorListener}}
    </div>

  </div>
</template>
