<template name="dataEntry">
  {{> openRoundPicker competitionId=competitionId competitionUrlId=competitionUrlId roundId=roundId eventCode=eventCode allowChosingClosedRounds=true roundRouteName="dataEntry"}}

  <div class="container-fluid">
    {{#if roundId}}
      {{#each round.getAlerts}}
        <div class="alert alert-{{severity}}" role="alert">
          <strong class="text-capitalize">{{severity}}!</strong> {{{message}}}
        </div>
      {{/each}}
      {{> roundDataEntry roundId=roundId}}
    {{/if}}
  </div>
</template>

<template name="roundDataEntry">
  <div class="row">

    <div class="results-sidebar-container col-xs-12 col-sm-6 col-md-5 col-lg-4">
      <div class="results-sidebar">
        <div class="focusguard focusguard-top" tabindex="0"></div>
        <input name="name" id="inputParticipantName" class="typeahead form-control" type="text" placeholder="Enter name">
        {{#if selectedResultId}}
          <a type="button" id="js-no-show-button" class="btn btn-default {{#if noShow}}active{{/if}}" disabled={{disableNoShow}} data-toggle="tooltip" data-placement="top" data-original-title="{{noShowTooltip}}" data-container="body">
            No show
          </a>
        {{/if}}

        {{#with round}}
          {{#if softCutoff}}
            <p>
              Soft cutoff: {{clockFormat softCutoff.time}} {{softCutoffFormatName softCutoff.formatCode}}
            </p>
          {{/if}}
          {{#if hardCutoff}}
            <p>
              Hard cutoff: {{clockFormat hardCutoff.time}}
            </p>
          {{/if}}
        {{/with}}

        {{#if selectedResultId}}
          {{#unless noShow}}
            <table class="table table-condensed jChesterTable">
              <tbody>
                {{#each selectedSolves}}
                  {{> solveTimeEditor}}
                {{/each}}
              </tbody>
            </table>
            <div class="focusguard focusguard-bottom" tabindex="0"></div>
          {{/unless}}
        {{/if}}
      </div>
    </div>

    <div id="selectableResults" class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
      {{> roundResultsList roundId=roundId selectParticipant=true selectParticipantListener=selectParticipantListener selectedResultId=selectedResultId}}
    </div>

  </div>
</template>

<template name="solveTimeEditor">
  <tr class="{{#if solveWarnings}}has-warnings{{/if}} {{#if solveSkippedDueToCutoff}}solve-skipped-due-to-cutoff{{/if}}">
    <td>
      <i class="fa fa-fw solve-time-warning-icon" data-placement="top" data-toggle="popover" data-trigger="hover" data-html="true"></i>
    </td>
    <td>
      {{> mjChester solveTime=solveTime index=index name="inputSolve" editableSolveTimeFields=editableSolveTimeFields}}
    </td>
  </tr>
</template>
