<template name="editSchedule">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-2">
        {{#autoForm id="updateCompetitionSchedule" type="update" doc=competition collection="Competitions" autosave=true template="bootstrap3" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="startDate" }}
          {{> afQuickField name="numberOfDays" }}
          {{> afQuickField name="calendarStartMinutes" }}
          {{> afQuickField name="calendarEndMinutes" }}
        {{/autoForm}}

        <h3>Drag to schedule ⇒</h3>
        <div id="sorted-rounds">
          <div class="fc-event draggable" id="new-calender-entry">Add new calendar entry</div>
          {{#each sortedRounds}}
            <div class="fc-event {{ draggability }}" data-round-id="{{ _id }}">{{ displayTitle }}</div>
          {{/each}}
        </div>
      </div>

      <div class="col-md-10">
        <div id="calendar"></div>
      </div>

      {{> editEventModal competitionId=competitionId}}

    </div>

  </div>
</template>

<template name="editEventModal">
  <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-hidden="true"> {{! TODO }}
    <div class="modal-dialog">
      {{#if eventToEdit}}
        <div class="modal-content">
          {{#autoForm id="editEventForm" doc=eventToEdit collection="ScheduleEvents" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
            {{> afFieldInput name="competitionId" hidden="true" }}

            {{#cmHeader}}
              {{#if eventToEdit._id}} Edit event {{else}} Add something to the schedule {{/if}}
            {{/cmHeader}}
            <div class="modal-body">
              {{#if eventToEdit.roundId}}
                <p class="form-control-static"> {{eventToEdit.title}} </p>
                {{> afFieldInput name="title" hidden="true" }}
              {{else}}
                {{> afQuickField name="title" autofocus='' }}
              {{/if}}

              {{#if multipleDayCompetition}}
                {{> afQuickField name="nthDay" options=nthDayOptions }}
              {{else}}
                {{> afFieldInput name="nthDay" hidden="true" }}
              {{/if}}

              {{> afQuickField name="startMinutes" }}
              {{> afQuickField name="durationMinutes" }}
            </div>
            <div class="modal-footer">
              {{#if eventToEdit._id}}
                <button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteEventConfirmModal">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
              {{/if}}
              {{> cmCancelButton}}
              <button type="submit" class="btn btn-primary">
                {{#if eventToEdit._id}} Save {{else}} Add {{/if}}
              </button>
            </div>
          {{/autoForm}}
        </div>
      {{/if}}
    </div>
  </div>

  {{#ccmModal id="deleteEventConfirmModal"}}
    {{#cmHeader}} Are you sure you want to delete this event? {{/cmHeader}}
    <div class="modal-body">
      <p>Deleting this event is permanent and irreversible.</p>
    </div>
    <div class="modal-footer">
      {{> cmCancelButton}}
      <button type="button" class="btn btn-danger" id="buttonDeleteEvent">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
  {{/ccmModal}}
</template>
