<template name="editCompetition">
<h1>{{competitionName}}</h1>

<div>

  <div>
    Competition Name:
    <input type="text" name="competitionName" value="{{competitionName}}" />
  </div>

  <div>
    WCA Competition ID:
    <input type="text" name="wcaCompetitionId" value="{{wcaCompetitionId}}" />
  </div>

  {{! TODO - choose staff and organizers }}

  <p>
    {{#if listed}}
      Competition is currently listed.
    {{else}}
      Competition is currently NOT listed.
    {{/if}}
  </p>

</div>

</template>
