<template name="editStaff">
  <div class="container">
    <div class="reactRenderArea"></div>

    <span class="extraButtons">
      <span data-toggle="modal" data-target="#modalAddStaff">
        <span class="extraButton add" data-toggle="tooltip" data-placement="top" title="Add staff members"></span>
      </span>
    </span>
  </div>

  {{> modalAddStaff}}
</template>

<template name="modalAddStaff">
  {{#ccmModal id="modalAddStaff"}}
    {{#ccmHeader}}
      Add staff members
    {{/ccmHeader}}
    <div class="modal-body">
      <div class="input-group">
        <input class="form-control select-user" placeholder="Enter staff member WCA ID" />
        <span class="input-group-btn">
          {{> ccmSaveButton saveable=saveable text="Add"}}
        </span>
      </div>
    </div>
  {{/ccmModal}}
</template>
