<template name="editCompetition">

  <div class="container-fluid">

    <form class="form-horizontal" id="competitionAttributes" role="form">
      <div class="form-group">
        <label for="inputCompetitionName" class="col-sm-3 col-lg-2 control-label">Competition Name</label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" id="inputCompetitionName" name="competitionName" value="{{competition 'competitionName'}}" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputWcaCompetitionId" class="col-sm-3 col-lg-2 control-label">WCA Competition ID</label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" id="inputWcaCompetitionId" name="wcaCompetitionId" value="{{competition 'wcaCompetitionId'}}" disabled="{{#unless isSiteAdmin}}disabled{{/unless}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Visibility</label>
        <div class="col-sm-9 col-lg-10">
          {{#if isSiteAdmin}}
            <div id="toggleCompetitionListed" class="btn-group">
              <button type="button" class="btn btn-default {{#if competition 'listed'}}active{{/if}}">
                Listed
              </button>
              <button type="button" class="btn btn-default {{#unless competition 'listed'}}active{{/unless}}">
                Hidden
              </button>
            </div>
          {{else}}
            <p class="form-control-static">
              {{#if competition "listed"}}
                Listed
              {{else}}
                Hidden
              {{/if}}
            </p>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="inputCompetitionStart" class="col-sm-3 col-lg-2 control-label">When</label>
        <div class="col-sm-9 col-lg-10">
          <p class="form-control-static">
            <a href="{{pathFor 'editSchedule' competitionUrlId=competitionUrlId}}">
              {{#unless competitionStartDateMoment}}
                Unscheduled
              {{else}}
                {{competitionStartDateMoment.fromNow}}
                ({{formatMomentDateRange competitionStartDateMoment competitionEndDateMoment}})
              {{/unless}}
            </a>
          </p>
        </div>
      </div>

    </form>
    <p>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDeleteCompetition">
        <span class="glyphicon glyphicon-trash"></span> Delete competition
      </button>
    </p>
    <div id="modalConfirmDeleteCompetition" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
            <h4 class="modal-title">Are you sure you want to delete this competiton?</h4>
          </div>
          <div class="modal-body">
            <p>Deleting this competition is permanent and irreversible.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" name="buttonDeleteCompetition">
              <span class="glyphicon glyphicon-trash"></span> Delete competition
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="row">
      <div id="organizersList" class="col-sm-6">
        {{#editCompetition_users competitionId=competitionId userIdsAtribute="organizers"}}
          Have complete control over a competition.
        {{/editCompetition_users}}
      </div>

      <div id="staffList" class="col-sm-6">
        {{#editCompetition_users competitionId=competitionId userIdsAtribute="staff"}}
          Can only enter times and view scrambles for ongoing rounds.
        {{/editCompetition_users}}
      </div>

    </div>

    <div id="editEventsList">
      <h2>
        Events
      </h2>

      <div class="row">
        {{#each events}}

          <div class="{{eventColumnsClasses}}">

            <div class="event panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{eventCode}}" class="collapsed">
                    <img class="img-thumbnail icon" src="{{eventIcon eventCode}}" alt="{{eventCode}}"><span>{{eventName eventCode}}</span>
                  </a>
                </h3>
              </div>
              <div id="collapse{{eventCode}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th class="tight-cell">#</th>
                          <th class="tight-cell text-center">
                            <a href="#" tabindex="0" class="" role="button"
                               data-toggle="popover" data-trigger="focus"
                               data-html="true"
                               title="WCA Round Formats"
                               data-content="<table class='table-condensed'>{{#each wcaFormats}}<tr><td><strong>{{shortName}}</strong></td><td>{{name}}</td></tr>{{/each}}</table>">
                              Format
                            </a>
                          </th>
                          {{#if eventAllowsCutoffs eventCode}}
                            <th class="tight-cell text-center">Soft</th>
                            <th class="tight-cell text-center">Hard</th>
                          {{/if}}
                          <th class="text-center">Progress</th>
                          <th class="tight-cell text-center">
                            <span class="glyphicon glyphicon-cog"></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each rounds}}
                          <tr>

                            <td class="tight-cell">{{nthRound}}</td>

                            <td class="tight-cell">
                              <select name="roundFormat" class="form-control input-xs">
                                {{#each formats}}
                                  <option value="{{this}}" selected="{{#if isCurrentRoundFormat}}selected{{/if}}">{{formatShortName this}}</option>
                                {{/each}}
                              </select>
                            </td>

                            {{#if eventAllowsCutoffs eventCode}}
                              <td class="tight-cell text-center">
                                <button type="button" name="buttonSoftCutoff"
                                        class="btn {{#if roundSoftCutoffAllowed}}btn-default{{else}}btn-warning{{/if}} btn-xs">
                                  {{#if softCutoff}}
                                    {{clockFormat softCutoff.time}} {{softCutoffFormatName softCutoff.formatCode}}
                                  {{else}}
                                    -
                                  {{/if}}
                                </button>
                              </td>

                              <td class="tight-cell text-center">
                                <button type="button" name="buttonHardCutoff"
                                        class="btn btn-default btn-xs">
                                  {{#if hardCutoff}}
                                    {{clockFormat hardCutoff.time}}
                                  {{else}}
                                    -
                                  {{/if}}
                                </button>
                              </td>
                            {{/if}}

                            <td class="text-center">
                              {{#if roundDoneAndTotal.[1]}}
                                <a href="{{pathFor 'dataEntry' competitionUrlId=../../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
                                  <div class="progress">
                                    <div class="progress-bar {{#if roundComplete}}progress-bar-success{{else}}progress-bar-warning{{/if}} {{#if roundOpen}}progress-bar-striped active{{/if}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage roundDoneAndTotal}}%;">
                                      {{toAtMostFixed roundDoneAndTotal.[0] 1}}/{{roundDoneAndTotal.[1]}}
                                    </div>
                                  </div>
                                </a>
                              {{else}}
                                {{#if isFirstRound}}
                                  {{competitorsRegisteredForEventCount}} registered
                                {{else}}
                                  <button type="button" name="buttonSetRoundSize"
                                          class="btn {{#if roundSizeWarning}}btn-warning{{else}}btn-default{{/if}} btn-xs btn-block"
                                          data-toggle="tooltip" data-placement="left" data-original-title="{{#if roundSizeWarning}}Round cannot be larger than {{maxAllowedRoundSize}}{{/if}}" data-container="body">
                                    {{#if size}}
                                      Size: {{size}}
                                    {{else}}
                                      Set round size
                                    {{/if}}
                                  </button>
                                {{/if}}
                              {{/if}}
                            </td>

                            <td class="tight-cell text-center">
                              {{#if canOpenRound}}
                                <button type="button" name="buttonOpenRound"
                                        class="btn btn-default btn-xs btn-unlock"
                                        data-toggle="tooltip" data-placement="left" data-original-title="Click to open round" data-container="body">
                                  <i class="fa"></i>
                                </button>
                              {{/if}}
                              {{#if canCloseRound}}
                                <button type="button" name="buttonCloseRound"
                                        class="btn btn-default btn-xs btn-lock"
                                        data-toggle="tooltip" data-placement="left" data-original-title="Click to close round" data-container="body">
                                  <i class="fa"></i>
                                </button>
                              {{/if}}
                              {{#if canAdvanceRound}}
                                <button type="button" name="buttonAdvanceCompetitors"
                                        class="btn btn-default btn-xs"
                                        data-toggle="tooltip" data-placement="left" data-original-title="Click to advance competitors to next round" data-container="body">
                                  <i class="fa fa-step-forward"></i>
                                </button>
                              {{/if}}
                            </td>

                          </tr>

                        {{/each}}
                      </tbody>
                    </table>

                    {{#if rounds}}
                      <div id="modalReallyRemoveRound_{{eventCode}}" class="modal fade">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                              <h4 class="modal-title">
                                Are you sure you want to delete {{eventName eventCode}}: {{roundName lastRoundCode}}?
                              </h4>
                            </div>
                            <div class="modal-body">
                              <p>It appears that this round contains results. If you delete it, those results will be lost.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-danger" name="buttonReallyRemoveRound">
                                <span class="glyphicon glyphicon-trash"></span> Delete round
                              </button>
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                    {{/if}}

                  </div>
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">

                      <button type="button" name="buttonRemoveRound"
                              class="btn btn-default btn-xs {{#if lastRoundResultsCount}}btn-danger{{/if}}"
                              disabled="{{#unless canRemoveRound}}disabled{{/unless}}">
                        <span class="glyphicon glyphicon-minus"></span> Delete last round
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" name="buttonAddRound"
                              class="btn btn-default btn-xs"
                              disabled="{{#unless canAddRound}}disabled{{/unless}}">
                        <span class="glyphicon glyphicon-plus"></span> Add round
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          {{#if clearfixVisibleClass}}
            <div class="clearfix {{clearfixVisibleClass}}"></div>
          {{/if}}

        {{/each}}
      </div>
    </div>

  </div>

  {{> modalSoftCutoff roundPopup.softCutoff}}
  {{> modalHardCutoff roundPopup.hardCutoff}}
  {{> modalSetRoundSize roundPopup.setRoundSize}}
  {{> modalAdvanceRound roundPopup.advanceCompetitors}}

</template>

<template name="modalAdvanceRound">
  <div id="modalAdvanceRound" class="modal fade">
    <div class="modal-dialog full-screen">
      {{#if this}}
        <form role="form">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
              <h4 class="modal-title">
                Advance competitors from {{eventName eventCode}}: {{roundName roundCode}}
              </h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div id="roundResultsListWrapper">
                  {{> roundResultsList roundId=_id advanceCount=advanceCount configurableAdvanceCount=true}}
                </div>
                <input type="number" min="1" max="{{competitorsInRound}}" name="advanceCount" class="form-control" value="{{advanceCount}}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn {{#if isSaveable}}btn-success{{/if}}" disabled="{{#unless isSaveable}}disabled{{/unless}}">
                Advance competitors <span class="glyphicon glyphicon-step-forward"></span>
              </button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<template name="modalSetRoundSize">
  <div id="modalSetRoundSize" class="modal fade">
    <div class="modal-dialog">
      {{#if this}}
        <form role="form">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
              <h4 class="modal-title">
                Change size of {{eventName eventCode}}: {{roundName roundCode}}
              </h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="number" min="1" name="roundSize" class="form-control" value="{{size}}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn {{#if isSaveable}}btn-success{{/if}}" disabled="{{#unless isSaveable}}disabled{{/unless}}">
                Save
              </button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<template name="modalSoftCutoff">
  <div id="modalSoftCutoff" class="modal fade">
    <div class="modal-dialog">
      {{#if this}}
        <form role="form">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
              <h4 class="modal-title">
                Change soft cutoff for {{eventName eventCode}}: {{roundName roundCode}}
              </h4>
            </div>
            <div class="modal-body">
              {{#if showTimeEntry}}
                {{> mjChester solveTime=softCutoff.time name="inputSoftCutoff"}}
              {{/if}}
              <select name="softCutoffFormatCode" class="form-control input-xs">
                <!-- will end up selected if nothing else is -->
                <option value="" selected="">No soft cutoff</option>

                <!-- http://stackoverflow.com/a/23498190 -->
                <optgroup label="───────────────"></optgroup>

                {{#each softCutoffFormats}}
                  <option value="{{code}}" selected="{{#if isCurrentSoftCutoffFormat}}selected{{/if}}" disabled="{{#unless isAllowedSoftCutoffFormat}}disabled{{/unless}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn {{#if isSaveable}}btn-success{{/if}}" disabled="{{#unless isSaveable}}disabled{{/unless}}">
                Save
              </button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<template name="modalHardCutoff">
  <div id="modalHardCutoff" class="modal fade">
    <div class="modal-dialog">
      {{#if this}}
        <form role="form">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
              <h4 class="modal-title">
                Change hard cutoff for {{eventName eventCode}}: {{roundName roundCode}}
              </h4>
            </div>
            <div class="modal-body">
              {{> mjChester solveTime=hardCutoff.time name="inputHardCutoff"}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn {{#if isSaveable}}btn-success{{/if}}" disabled="{{#unless isSaveable}}disabled{{/unless}}">
                Save
              </button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<template name="editCompetition_userRow">
  {{uniqueName}}
  {{#if isMe}}
    <span class="label label-default">Me</span>
  {{/if}}
</template>

<template name="editCompetition_users">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title text-capitalize">
        {{userIdsAtribute}}
      </h3>
      {{> UI.contentBlock}}
    </div>

    <ul class="list-group">
      {{#each registrations}}
        <li class="list-group-item">
          {{> editCompetition_userRow}}
          {{#unless isCurrentUser}}
            <button type="button" name="buttonRemoveUser" class="btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          {{/unless}}
        </li>
      {{else}}
        <li class="list-group-item">
          No {{userIdsAtribute}} yet! Add some below.
        </li>
      {{/each}}

      <div class="panel-footer">
        <form class="form-horizontal" role="form">
          <div class="input-group">
            <input name="name" class="typeahead form-control" type="text" placeholder="Enter name">
            <span class="input-group-btn">
              <button type="submit" name="buttonAddUser" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

    </ul>
  </div>

</template>
