<template name="editSchedule">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-2">
        {{#autoForm id="updateCompetitionSchedule" type="update" doc=competition collection="Competitions" autosave=true template="bootstrap3" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="startDate" }}
          {{> afQuickField name="numberOfDays" }}
          {{> afQuickField name="calendarStartMinutes" }}
          {{> afQuickField name="calendarEndMinutes" }}
        {{/autoForm}}

        <h3>Drag to schedule ⇒</h3>
        <div id="unscheduled-rounds">
          <div class="fc-event draggable" id="new-calender-entry">Add new calendar entry</div>
          {{#each sortedRounds}}
            {{> sortedRound }}
          {{/each}}
        </div>
      </div>

      <div class="col-md-10">
        <div id="calendar"></div>
      </div>

      {{> editEventModal competitionId=competitionId}}

    </div>

  </div>
</template>

<template name="sortedRound">
  <div class="fc-event {{ draggability isScheduled }}" data-round-id="{{ _id }}">{{ displayTitle }}</div>
</template>

<template name="editEventModal">
  <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      {{#if eventToEdit}}
        <div class="modal-content">
          {{#autoForm id="editEventForm" doc=eventToEdit collection="ScheduleEvents" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
            {{> afFieldInput name="competitionId" hidden="true" }}

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
              <h4 class="modal-title" id="myModalLabel">
                {{#if eventToEdit._id}} Edit event {{else}} Add something to the schedule {{/if}}
              </h4>
            </div>
            <div class="modal-body">
              {{#if eventToEdit.roundId}}
                <p class="form-control-static"> {{eventToEdit.title}} </p>
                {{> afFieldInput name="title" hidden="true" }}
              {{else}}
                {{> afQuickField name="title" autofocus='' }}
              {{/if}}
              {{> afQuickField name="startMinutes" }}
              {{> afQuickField name="durationMinutes" }}
            </div>
            <div class="modal-footer">
              {{#if eventToEdit._id}}
                <button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteEventConfirmModal">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
              {{/if}}
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">
                {{#if eventToEdit._id}} Save {{else}} Add {{/if}}
              </button>
            </div>
          {{/autoForm}}
        </div>
      {{/if}}
    </div>
  </div>

  <div id="deleteEventConfirmModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
          <h4 class="modal-title">Are you sure you want to delete this event?</h4>
        </div>
        <div class="modal-body">
          <p>Deleting this event is permanent and irreversible.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="buttonDeleteEvent">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
