<template name="editProfile">
  <div class="container">
    <h4>Edit profile</h4>
    <hr />
    {{#autoForm id="profileForm" type="update" doc=defaultProfileData collection="Meteor.users"}}

      {{> afQuickField name="profile.name" }}
      {{> afQuickField name="profile.wcaId" }}
      {{> afQuickField name="profile.countryId" }}
      {{> afQuickField name="profile.gender" }}
      {{> afQuickField name="profile.dob" }}

      <button type="submit" class="btn btn-default" id="changeRegistrationButton">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Submit Changes
      </button>
      <button type="reset" class="btn btn-default" id="revertFormButton">Reset Form</button>

    {{/autoForm}}
  </div>
</template>
