<template name="editCompetition">
<h1>{{competitionName}}</h1>

<div>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputCompetitionName" class="col-sm-2 control-label">Competition Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCompetitionName" name="competitionName" value="{{competitionName}}" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputWcaCompetitionId" class="col-sm-2 control-label">WCA Competition ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputWcaCompetitionId" name="wcaCompetitionId" value="{{wcaCompetitionId}}" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <!-- TODO - see https://github.com/jfly/gjcomps/issues/10
            <p>
              {{#if listed}}
                Competition is currently listed.
              {{else}}
                Competition is currently NOT listed.
              {{/if}}
            </p>
            -->
            <input type="checkbox" name="listed" checked="{{listed}}" />
            Listed
          </label>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div id="organizersList" class="col-sm-6">
      {{#editCompetition_users competitionId=_id userIdsAtribute="organizers"}}
        TODO - EDIT DEM ORGANIZERS
      {{/editCompetition_users}}
    </div>

    <div id="staffList" class="col-sm-6">
      {{#editCompetition_users competitionId=_id userIdsAtribute="staff"}}
        TODO - EDIT DEM STAFF
      {{/editCompetition_users}}
    </div>

  </div>

  <div id="editEventsList">
    <h2>
      Events
      <button type="button" data-toggle="modal" data-target="#generateScramblesModal" class="btn btn-default btn-lg">
        <img src="/img/tnoodle_logo.svg" style="height: 24px;" /> Generate scrambles
      </button>
    </h2>
    {{> generateScramblesModal}}

    <div class="row">
      {{#each events}}

        <div class="{{eventColumnsClasses}}">

          <div class="event panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{eventCode}}" class="collapsed">
                  {{eventName eventCode}}
                </a>
              </h3>
            </div>
            <!-- <input type="text" value="Cutoff"> -->
            <div id="collapse{{eventCode}}" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Round Name</th>
                      <th>Format</th>
                      <th>Status</th>
                      <th>Progress</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each rounds}}
                      <tr>
                        <td>{{roundName roundCode}}</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                              {{formatName formatCode}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                              {{#each formats}}
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#" data-format_code="{{this}}" data-round_id="{{../_id}}">{{formatName this}}</a>
                                </li>
                              {{/each}}
                            </ul>
                          </div>
                        </td>
                        <td>In Progress</td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{roundProgressPercentage}}%;">
                              {{roundProgressPercentage}}%
                            </div>
                          </div>
                        </td>
                        <td>
                          {{#if canRemoveRound}}
                            <button type="button" name="buttonRemoveRound" class="btn btn-default btn-xs">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          {{/if}}
                        </td>
                      </tr>
                     <!--  <a href="{{pathFor 'round' wcaCompetitionId=../../wcaCompetitionId eventCode=eventCode roundCode=roundCode}}"> -->
                      <!-- </a> -->
                    {{/each}}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        {{#if canAddRound}}
                          <button type="button" name="buttonAddRound" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        {{/if}}
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>

        </div>

        {{#if clearfixVisibleClass}}
          <div class="clearfix {{clearfixVisibleClass}}"></div>
        {{/if}}

      {{/each}}
    </div>
  </div>

</div>

</template>

<template name="editCompetition_userRow">
  {{profile.name}} ({{username}})
</template>

<template name="editCompetition_users">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title text-capitalize">
        {{userIdsAtribute}}
      </h3>
      {{> UI.contentBlock}}
    </div>

    <ul class="list-group">
      {{#each users}}
        <li class="list-group-item">
          {{> editCompetition_userRow }}
          {{#unless isCurrentUser}}
            <button type="button" name="buttonRemoveUser" class="btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          {{/unless}}
        </li>
      {{else}}
        <li class="list-group-item">
          No {{userIdsAtribute}} yet! Add some below.
        </li>
      {{/each}}

      <div class="panel-footer">
        <form class="form-horizontal" role="form">
          <div class="input-group">
            <input name="name" class="typeahead form-control" type="text" placeholder="Enter name">
            <span class="input-group-btn">
              <button type="submit" name="buttonAddUser" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

    </ul>
  </div>

</template>

<template name="generateScramblesModal">
  <!-- Modal -->
  <div class="modal fade" id="generateScramblesModal" tabindex="-1" role="dialog" aria-labelledby="generateScramblesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="generateScramblesModalLabel">Generate Scrambles</h4>
        </div>
        <div class="modal-body">
          {{#if tnoodleStatus}}
            {{#if tnoodleRunningVersionAllowed}}
              Detected up to date
              <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleStatus.running_version}}</a>.
            {{else}}
              Detected unofficial
              <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleStatus.running_version}}</a>.
              Please download the latest official version of TNoodle
              <a rel="external" target="_blank" href="https://www.worldcubeassociation.org/regulations/scrambles/">here</a>
              and start it.
            {{/if}}
          {{else}}
            Could not find TNoodle running at
            <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleVersionUrl}}</a>.
            Make sure you've downloaded the latest version of
            <a rel="external" target="_blank" href="https://www.worldcubeassociation.org/regulations/scrambles/">TNoodle</a>
            and started it.
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
