<template name="manageCheckin">
  <div class="container-fluid">
    <div class="reactRenderArea"></div>

    <span class="extraButtons">
      <span data-toggle="modal" data-target="#modalImportRegistrations">
        <span class="extraButton import" data-toggle="tooltip" data-placement="top" title="Import registrations"></span>
      </span>
      <span class="extraButton add" data-toggle="tooltip" data-placement="top" title="Add new competitor"></span>
    </span>

    {{> modalEditRegistration selectedRegistration}}
    {{> modalImportRegistrations}}
  </div>
</template>

<template name="modalImportRegistrations">
  {{#ccmModal id="modalImportRegistrations"}}
    {{#ccmHeader}}
      Import registrations
    {{/ccmHeader}}
    <div class="modal-body">
      <p>
        Import registration data conforming to the <a href="https://github.com/cubing/worldcubeassociation.org/wiki/WCA-Competition-JSON-Format" rel="external" target="_blank">WCA Competition JSON Format</a>.
      </p>
      <p>
        Importing data when you already have people registered will be very careful to not
        delete data: we update everyone's registration information (say if
        their birthday changed), but we won't unregister people for events if
        they're already checked in, and we certainly won't delete their results
        if they already have results.
      </p>
      {{#if cusaJsonUrl}}
        <div class="alert alert-info">
          We've detected that you're using CubingUSA for registration! Click
          <a href="{{cusaJsonUrl}}" rel="external" target="_blank">here</a> to access a JSON
          dump of registration information for this competition.
        </div>
      {{/if}}
      <textarea name="registrationJson" class="form-control" rows="10" placeholder="Registration JSON here"></textarea>
      {{#if registrationJsonParseError}}
        <div class="alert alert-danger">
          {{registrationJsonParseError}}
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      {{> ccmCancelButton}}
      {{> ccmSaveButton saveable=registrationJson text="Import"}}
    </div>
  {{/ccmModal}}
</template>

<template name="modalEditRegistration">
  <div id="modalEditRegistration" class="modal fade" data-keyboard="false">
    <div class="modal-dialog full-screen">
      {{#if this}}
        <div class="modal-content">
          {{#ccmHeader}}
            {{#if _id}}
              Edit registration for {{uniqueName}}
            {{else}}
              Add new competitor
            {{/if}}
          {{/ccmHeader}}

          {{#autoForm id="editRegistrationForm" type=editRegistrationFormType doc=this collection="Registrations"}}
            <div class="modal-body">
              <div class="form-group">
                {{> afFieldInput name="competitionId"}}
                {{> afFieldInput name="userId"}}
                {{> afQuickField name="uniqueName" autofocus=''}}
                {{> afQuickField name="wcaId"}}
                {{> afQuickField name="countryId"}}
                {{> afQuickField name="gender"}}
                {{> afQuickField name="dob"}}
              </div>
            </div>
            <div class="modal-footer">
              {{#if _id}}
                <button type="button" class="btn btn-danger pull-left js-delete-registration">
                  <span class="glyphicon glyphicon-trash"></span> Delete registration
                </button>
              {{/if}}

              {{> ccmCancelButton}}
              <button type="reset" class="btn btn-default">Reset Form</button>
              <button type="submit" class="btn btn-success">
                <span class="glyphicon {{#if _id}}glyphicon-floppy-save{{else}}glyphicon-plus{{/if}}"></span>
                {{#if _id}}
                  Save
                {{else}}
                  Add
                {{/if}}
              </button>
            </div>
          {{/autoForm}}
        </div><!-- /.modal-content -->
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
