<template name="manageCheckin">
  <div class="container-fluid">
    <div class="reactRenderArea"></div>

    <span class="addParticipant"></span>

    {{> modalEditRegistration selectedRegistration}}
  </div>
</template>

<template name="modalEditRegistration">
  <div id="modalEditRegistration" class="modal fade" data-keyboard="false">
    <div class="modal-dialog full-screen">
      {{#if this}}
        <div class="modal-content">
          {{#ccmHeader}}
            {{#if _id}}
              Edit registration for {{uniqueName}}
            {{else}}
              Add new competitor
            {{/if}}
          {{/ccmHeader}}

          {{#autoForm id="editRegistrationForm" type=editRegistrationFormType doc=this collection="Registrations"}}
            <div class="modal-body">
              <div class="form-group">
                {{> afFieldInput name="competitionId"}}
                {{> afFieldInput name="userId"}}
                {{> afQuickField name="uniqueName" autofocus=''}}
                {{> afQuickField name="wcaId"}}
                {{> afQuickField name="countryId"}}
                {{> afQuickField name="gender"}}
                {{> afQuickField name="dob"}}
              </div>
            </div>
            <div class="modal-footer">
              {{#if _id}}
                <button type="button" class="btn btn-danger pull-left js-delete-registration">
                  <span class="glyphicon glyphicon-trash"></span> Delete registration
                </button>
              {{/if}}

              {{> ccmCancelButton}}
              <button type="reset" class="btn btn-default">Reset Form</button>
              <button type="submit" class="btn btn-success">
                <span class="glyphicon {{#if _id}}glyphicon-floppy-save{{else}}glyphicon-plus{{/if}}"></span>
                {{#if _id}}
                  Save
                {{else}}
                  Add
                {{/if}}
              </button>
            </div>
          {{/autoForm}}
        </div><!-- /.modal-content -->
      {{/if}}
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
