<template name="manageScrambleGroups">

  {{> openRoundPicker competitionId=competitionId competitionUrlId=competitionUrlId eventCode=eventCode roundId=roundId allowChosingClosedRounds=false roundRouteName='manageScrambleGroups'}}

  <div class="container">
    {{#unless roundId}}
      Choose an open round.
    {{else}}
      {{#unless round.isOpen}}
        {{round.prettyStringNoFormat}} is not open. You can open it <a href="{{pathFor 'editEvents'}}">here</a>.
      {{else}}
        <ul>
          {{#each groups}}
            <li>
              <span class="btn-group js-toggle-group-open">
                <button type="button" class="btn btn-default {{#if open}}active{{/if}}">
                  Open
                </button>
                <button type="button" class="btn btn-default {{#unless open}}active{{/unless}}">
                  Closed
                </button>
              </span>
              Group <code>{{group}}</code>
            </li>
          {{else}}
          No scrambles found! Generate scrambles <a href="{{pathFor 'uploadScrambles'}}">here</a>.
          {{/each}}
        </ul>
      {{/unless}}
    {{/unless}}
  </div>
</template>
