<template name="ccmModal">
  <div id={{id}} class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{> Template.contentBlock}}
      </div>
    </div>
  </div>
</template>

<template name="cmHeader">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
    <h4 class="modal-title">
      {{> Template.contentBlock}}
    </h4>
  </div>
</template>

<template name="cmCancelButton">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</template>

<template name="cmSaveButton">
  <button type="submit" class="btn {{btn_success saveable}}" disabled={{disable saveable}}>Save</button>
</template>
