<template name="newCompetition">
  <h4>New Competition</h4>
  <hr>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputCompetitionName" class="col-sm-3 col-lg-2 control-label">Competition Name</label>
      <div class="col-sm-9 col-lg-10">
        <input type="text" class="form-control" id="inputCompetitionName" name="competitionName" value="{{competitionName}}" />
      </div>
    </div>

    <button type="submit" class="btn btn-primary form-control">Create competition</button>
  </form>

</template>
