<template name="roundPicker">

  <nav class="navbar navbar-default navbar-plain-rectangle" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse-buttons">
        <ul class="nav navbar-nav">
          {{#each competition.getEventCodes}}
            <li class="{{#if isCurrentEvent}}active{{/if}}">
              <a href="{{pathFor ../roundRouteName competitionUrlId=../competitionUrlId eventCode=this}}"
                 class="brand"
                 data-toggle="tooltip" data-placement="bottom" data-container="body"
                 title="{{eventName this}}">
                <span class="cubing-icon icon-{{this}}"></span>
                <span class="hidden-xs">{{this}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </nav>

  {{#if selectedEventCode}}
    <nav class="navbar navbar-default navbar-plain-rectangle" role="navigation">
      <div class="container-fluid">
        <div class="navbar-collapse collapse-buttons">
          <ul class="nav navbar-nav">
            <li class="{{#if isCurrentRound}}active{{/if}} leaf">
              <p class="navbar-text navbar-brand">
                <span class="cubing-icon icon-{{selectedEventCode}}" alt="{{selectedEventCode}}"></span><span>{{eventName selectedEventCode}}</span>
              </p>
            </li>
            {{#each roundsForEvent}}
              <li class="{{#if isCurrentRound}}active{{/if}} leaf">
                <a href="{{pathFor ../roundRouteName competitionUrlId=../competitionUrlId eventCode=eventCode nthRound=nthRound}}">
                  {{roundName roundCode}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
  {{/if}}

</template>

<template name="openRoundPicker">
  <nav class="navbar navbar-default navbar-plain-rectangle round-picker" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse-buttons">
        <ul class="nav navbar-nav">
          {{#each openRounds}}
            <li class="{{#if isSelectedRound}}active{{/if}} leaf">
              <a href="{{pathFor ../roundRouteName competitionUrlId=../competitionUrlId eventCode=eventCode nthRound=nthRound}}"
                 class="brand">
                <span class="cubing-icon icon-{{eventCode}}" alt="{{eventCode}}"></span>
                {{prettyStringNoFormat}}
              </a>
            </li>
          {{else}}
            <p class="navbar-text">
              No rounds currently open
            </p>
          {{/each}}
          {{#if allowChosingClosedRounds}}
            <li class="{{#if showAllRounds}}active{{/if}}">
              <a href="#" class="brand" id="showAllRoundsLink"
                 data-toggle="tooltip" data-placement="bottom" data-container="body"
                 title="If you really need to edit a round that isn't open, click here.">
                All rounds
                {{#if showAllRounds}}
                  <span class="glyphicon glyphicon-chevron-down"></span>
                {{else}}
                  <span class="glyphicon glyphicon-chevron-right"></span>
                {{/if}}
              </a>
            </li>
          {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{pathFor 'roundResults' competitionUrlId=../competitionUrlId eventCode=selectedRound.eventCode nthRound=selectedRound.nthRound}}">
              Public link
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{#if showAllRounds}}
    {{> roundPicker competitionId=competitionId competitionUrlId=competitionUrlId roundId=roundId eventCode=eventCode roundRouteName=roundRouteName}}
  {{/if}}
</template>
