<template name="roundResults">
  <div class="container">
    <p>
      {{eventName roundEventCode}}: {{roundName roundRoundCode}}
      {{formatName roundFormatCode}}
    </p>

    {{> roundResultsList roundId=roundId competitionUrlId=competitionUrlId}}

  </div>
</template>

<template name="roundResultsList">
  {{#with roundId=roundId competitionId=roundCompetitionId competitionUrlId=competitionUrlId}}
    <ul>
      {{#each results}}
        <li class="{{#if competitorAdvanced}}competitor-advanced{{/if}}">
          {{#if ../competitionUrlId}}
            <a href="{{pathFor 'competitorResults' competitionUrlId=../competitionUrlId competitorName=competitorName }}">
              {{competitorName}}
            </a>
          {{else}}
            {{competitorName}}
          {{/if}}
          : {{solves}} best: {{best}}
        </li> 
        {{#if drawAdvanceLine}}
          <hr>
        {{/if}}
      {{/each}}
    </ul>
  {{/with}}
</template>
