<template name="roundResults">
  <div class="container">
    <p>
      {{eventName roundEventCode}}: {{roundName roundRoundCode}}
      {{formatName roundFormatCode}}
    </p>

    <ul>
      {{#each results}}
        <li class="{{#if competitorAdvanced}}competitor-advanced{{/if}}">
          <a href="{{pathFor 'competitorResults' competitionUrlId=../competitionUrlId competitorName=competitorName }}">
            {{competitorName}}
          </a>: {{solves}} best: {{best}}
        </li> 
      {{/each}}
    </ul>
  </div>
</template>
