<template name="roundResults">

  {{> roundPicker competitionId=competitionId competitionUrlId=competitionUrlId roundId=roundId roundTemplate='roundResults'}}

  <div class="container">
    {{#unless roundId}}
    {{else}}
      <p>
        {{eventName roundEventCode}}: {{roundName roundRoundCode}}
        {{formatName roundFormatCode}}
      </p>

      {{> roundResultsList roundId=roundId competitionUrlId=competitionUrlId}}
    {{/unless}}
  </div>
</template>

<template name="roundResultsList">
  <div class="reactRenderArea"></div>
</template>
