<template name="uploadScrambles">

  <h4>Upload Scrambles</h4>
  <hr>

  <div>
    <p>
      {{#if tnoodleStatus}}
        {{#if tnoodleRunningVersionAllowed}}
          Detected up to date
          <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleStatus.running_version}}</a>.
        {{else}}
          Detected unofficial
          <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleStatus.running_version}}</a>.
          Please download the latest official version of TNoodle
          <a rel="external" target="_blank" href="https://www.worldcubeassociation.org/regulations/scrambles/">here</a>
          and start it.
        {{/if}}
      {{else}}
        Could not find TNoodle running at
        <a rel="external" target="_blank" href="{{tnoodleVersionUrl}}">{{tnoodleVersionUrl}}</a>.
        Make sure you've downloaded the latest version of
        <a rel="external" target="_blank" href="https://www.worldcubeassociation.org/regulations/scrambles/">TNoodle</a>
        and started it.
      {{/if}}
    </p>

    <div class="well">
      {{#if roundsWithoutScrambles.length}}
        <p>
          Click
          <a rel="external" target="_blank" href="{{generateMissingScramblesUrl}}">here</a>
          to generate scrambles for the following rounds that are missing scrambles:
        </p>
        <p>
          {{#each roundsWithoutScrambles}}
            <span class="label label-default">{{eventName eventCode}} {{roundName roundCode}}</span>
          {{/each}}
        </p>
      {{else}}
        <p>
          No rounds are missing scrambles!
        </p>
      {{/if}}
    </div>

    <p>
      <button class="btn btn-default btn-file" style="width: 100%">
        Select TNoodle scrambles...
        <!--
          We don't let the user upload multiple files. This way, we
          don't have to worry about the user uploading multiple
          collections of scrambles that conflict with one another. When
          they are forced to upload serially, they will get messages
          about data already existing in the database. Someday we could
          support uploading multiple files, but we'd need to invent
          some way to inform the user of conflicts amongst their various
          scramble sets.
        <input type="file" multiple>
        -->
        <input type="file">
      </button>
    </p>
    {{#each uploadedScrambleSets}}

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse{{index}}">
              {{file.name}}
            </a>
          </h3>
        </div>

        <div id="collapse{{index}}" class="panel-collapse collapse in">
          <div class="panel-body">
            {{#each warnings}}
              <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> {{this}}
              </div>
            {{/each}}
            {{#if error}}
              <div class="alert alert-danger" role="alert">{{error}}</div>
            {{/if}}
            {{#if tnoodleScrambles}}
              <ul class="list-group">
                {{#each tnoodleScrambles.sheets}}
                <li class="list-group-item {{#if warningForUploadedSheet}}list-group-item-warning{{else}}list-group-item-success{{/if}}">
                    {{#if warningForUploadedSheet}}
                      <strong>{{warningForUploadedSheet}}:</strong>
                    {{/if}}
                    {{eventName event}} Round {{round}} Group {{group}}
                    ({{scrambles.length}}+{{extraScrambles.length}} scrambles)
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>

      </div>
    {{/each}}
  </div>

  <button type="button" id="buttonUploadScrambles" class="btn {{classForUploadButton}}" data-toggle="tooltip" data-placement="top" title="{{uploadWarning}}" data-original-title="{{uploadWarning}}">Upload scrambles</button>
</template>
