<template name="userPill">
  <span>
    <span>{{uniqueName}}</span>
    <span>{{profile.name}}</span>
    <span class="label {{#unless emails.[0].verified}}label-danger{{else}}label-success{{/unless}}">
      {{#unless emails.[0].verified}}
        Unverified email:
      {{/unless}}
      {{emails.[0].address}}
    </span>
    {{#if profile.wcaId}}
      <span class="label label-info">
        WCA Id: {{profile.wcaId}}
      </span>
    {{/if}}
    <span class="label label-default">{{_id}}</span>
  </span>
</template>
